@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
* {
  box-sizing: border-box; }

html, body {
  margin: 0; }

input,
textarea {
  background: none;
  border: none; }

ul {
  padding: 0;
  margin: 0; }

input, .nav__item, .about, .contacts {
  padding: 15px; }

.brd-top {
  border-top: 1px solid white; }

.brd-right {
  border-right: 1px solid white; }

.brd-bottom {
  border-bottom: 1px solid white; }

.brd-left {
  border-left: 1px solid white; }

.brd-full {
  border: 1px solid white; }

body {
  font-family: 'Roboto', sans-serif; }

h2, h3 {
  font-weight: 400; }

h2 {
  font-size: xx-large; }

p {
  font-weight: 200; }

.title {
  font-size: 5rem; }

.title__accent {
  font-style: italic; }

input, .nav__item, .about, .contacts {
  padding: 15px; }

.brd-top {
  border-top: 1px solid white; }

.brd-right {
  border-right: 1px solid white; }

.brd-bottom {
  border-bottom: 1px solid white; }

.brd-left {
  border-left: 1px solid white; }

.brd-full {
  border: 1px solid white; }

form {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  justify-content: space-between; }

input {
  color: white; }

input:not([type="submit"]) {
  border-bottom: white solid 1px;
  padding: 10px 0;
  margin: 5px 0 0; }

input, .nav__item, .about, .contacts {
  padding: 15px; }

.brd-top {
  border-top: 1px solid white; }

.brd-right {
  border-right: 1px solid white; }

.brd-bottom {
  border-bottom: 1px solid white; }

.brd-left {
  border-left: 1px solid white; }

.brd-full {
  border: 1px solid white; }

.nav {
  list-style: none;
  display: flex;
  width: 50vw;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; }

body {
  background: #333;
  color: white; }

.tile {
  width: 100vw;
  height: 100vw;
  position: relative; }
  .tile__left, .tile__right {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center; }
  .tile--show {
    background-image: url(../show.jpg); }
  .tile--uv {
    background-image: url(../uv.jpg); }
  .tile--fire {
    background-image: url(../fire.jpg); }
  .tile--pipes {
    background-image: url(../pipes.jpg); }
  .tile--kojukai {
    background-image: url(../kojukai.jpg); }
  .tile--lesson {
    background-image: url(../lesson.jpg); }
  .tile__right {
    clip-path: polygon(100% 0, 0 100%, 100% 100%); }
    .tile__right--open {
      clip-path: polygon(100% 0, 10% 10%, 0 100%, 100% 100%); }
    .tile__right--open-l {
      clip-path: polygon(100% 0, 90% 90%, 0 100%, 100% 100%); }
  @media screen and (min-width: 426px) {
    .tile {
      width: 30vw;
      height: 30vw; } }

.video-background {
  position: relative;
  height: 100vh;
  width: 100vw; }

#video-bg {
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100; }

.title {
  background: linear-gradient(135deg, rgba(102, 0, 0, 0.55), rgba(0, 0, 102, 0.55));
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; }

.shows {
  display: flex;
  flex-flow: wrap; }
  @media screen and (min-width: 426px) {
    .shows {
      flex-flow: nowrap;
      justify-content: space-evenly; } }

.about {
  max-width: 650px; }

@media screen and (max-width: 425px) {
  .title {
    font-size: 2rem; } }
