////////////////////////////////////////////////////////////////////////
//                           Reset Defaults                           //
////////////////////////////////////////////////////////////////////////
* { box-sizing: border-box; }

html, body { margin: 0; }

input,
textarea {
  background: none;
  border: none;
}
