@import 'reset';
@import 'layout';
@import 'typography';
@import 'forms';

body {
  background: #333;
  color: white;
}

@import 'tile';
@import 'video-bg';

.title {
  background: linear-gradient(135deg, hsla(0, 100%, 20%, 0.55), hsla(240, 100%, 20%, 0.55));
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.shows {
  display: flex;
  flex-flow: wrap;
}

.about {
  max-width: 650px;
  @extend %pad;
}

.contacts { @extend %pad; }


@import 'mobile';
