.tile {
  width: 100vw;
  height: 100vw;
  position: relative;

  &__left,
  &__right {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }

  &--show { background-image: url(../show.jpg); }
  &--uv { background-image: url(../uv.jpg); }
  &--fire { background-image: url(../fire.jpg); }
  &--pipes { background-image: url(../pipes.jpg); }
  &--kojukai { background-image: url(../kojukai.jpg); }
  &--lesson { background-image: url(../lesson.jpg); }

  &__right {
    clip-path: polygon(100% 0, 0 100%, 100% 100%);

    &--open { clip-path: polygon(100% 0, 10% 10%, 0 100%, 100% 100%); }
    &--open-l { clip-path: polygon(100% 0, 90% 90%, 0 100%, 100% 100%); }
  }

  @media screen and (min-width: 426px){
    width: 30vw;
    height: 30vw;
  }
}


